body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Smooch', cursive;
    padding: 0;
    background: #1d0c2f;
}

.main-background {
    height: 52vw;
    overflow: hidden;
}

#test {
    width: 100%;
    height: 102vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20vw;
    color: white;
    font-size: 16vw;
    opacity: 01;
    background-color: rgba(255, 255, 255, 0);
    z-index: 1;
    animation: rotate 170s infinite;
}

.img {
    background: url('../img/main-bg.png') center;
    background-size: cover;
    width: 100%;
    height: 53vw;
    position: absolute;
    top: 0vw;
    z-index: 1;
}
.overlay{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top:0;
    height: 52vw;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16vw;
    opacity: 01;
    background-color: rgba(40, 8, 54, 0.685);
    z-index: 2;

}
.overlay-sub{
    font-size: 1.1vw;
    margin-top: -18vw;
    font-weight: 400;
    position: absolute;
    opacity: 0.85;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.block{
    background: white;
    display: flex;
    z-index: 2;
}

.vivacity {
	font-family: 'Smooch', cursive;
    margin-top: 10vw;
}

svg.vivacity text {
	animation: vivaKeyStroke 2s  alternate;
    animation-iteration-count: 1;
	stroke-width: 0;
	stroke: white;
	height: 55vw;
	justify-content: center;
        
	align-items: center;
	color: white;
    text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 12px #cb2cfc75,
    0 0 15px #cb2cfc75,
    0 0 30px #cb2cfc75,
    0 0 50px #cb2cfc75,
    0 0 60px #cb2cfc75,
    0 0 90px #cb2cfc75;
	font-size: 19vw;
	opacity: 01;
	background-color: rgba(40, 8, 54, 0.685);
	z-index: 2;
}

.neon {
    display: none;    
	stroke-width: 0;
	stroke: white;
	height: 55vw;
	justify-content: center;
    position: absolute;
    text-anchor: middle;
	align-items: center;
    transform: translateY(25%);
	color: white;
    text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 12px #cb2cfc75,
    0 0 15px #cb2cfc75,
    0 0 30px #cb2cfc75,
    0 0 50px #cb2cfc75,
    0 0 60px #cb2cfc75,
    0 0 90px #cb2cfc75;
	font-size: 19vw;
	opacity: 01;
	background-color:transparent;
	z-index: 2;
}



.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        text-shadow: none;
        opacity: 0.99;

    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}


@keyframes vivaKeyStroke {
	0%   {
		fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 1;
	}
	70%  {fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255); }
	80%  {fill: rgba(72,138,20,0); stroke: rgb(255, 255, 255); stroke-width: 2; }
	100% {
		fill: rgb(255, 255, 255); stroke: rgba(54,95,160,0); 
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
    
}
